
.homeContainer{
    background-color: beige;
    padding: 5%;
    text-align: center;
    margin: 15% 10% 0% 10%;
}
.homeH1{
    font-size: 5em ;
    padding : 0px 0px 50px 0em;
}
#username{
    border : 2px solid rgb(123, 216, 177);
    margin: 0% 7%;
    text-align: center;
    border-radius: 24px;
    background-color: #fff;
    background-image: none;
}
#username:focus {
    margin: 0% 0% 0% 0%;
    border-color: rgb(20, 212, 132);
}
#login{
    border : 0;
    background: none;
    display: block;
    color: rgb(49, 48, 48);
    margin: 20px auto;
    padding: 8px 24px;
    text-align: center;
    border : 2px solid rgb(123, 216, 177);
    outline: none;
    border-radius: 24px;
    background-color: rgb(173, 250, 255);
    background-image: none;
}

